beautifulsoup4==4.12.3
certifi==2024.6.2
charset-normalizer==3.3.2
cloudscraper==1.2.71
colorama==0.4.6
idna==3.7
pyparsing==3.1.2
requests==2.32.3
requests-toolbelt==1.0.0
soupsieve==2.5
tqdm==4.66.4
urllib3==2.2.1
